body {
  margin: 0; /* pour éviter les marges */
  margin-left: auto ;
  margin-right: auto;
}
a {color: #333; 	text-decoration: none;
}
#menu_principal, #menu_principal ul{
	list-style-type: none;
}
#menu_principal ul{
	display: none;
}
#menu_principal{
	display:flex;
	background-color: red;
	margin-left: 5px;

}
#menu_principal li{
	padding-right: 20px;
}
nav{
}
header{
	padding: 15px;
	display: flex;
	justify-content: space-between;
	background-color: black;
	align-items: center;
}
