/*police et fond*/
*
{
	font-family: Arial;
}

nav{
	margin: 0 auto;
	position: sticky;

}
/*header*/
header{
	display: flex;
	background: url('images/separateur.png') repeat-x bottom;
	justify-content: space-between;

}
header h1
{
	font-size: 2.5em;
	font-weight: normal;
	margin: 0 0 0 10px;

}
#bloc_page{
	width: 95%;
	margin: auto;
}
h1 a{
	text-decoration: none;
	color: black;
}
/*menu et menu déroulant*/
#menu_principal{
	display: flex;
	list-style-type: none;
}
#menu_principal li{
	margin-right: 15px;
}
#menu_principal ul{
	list-style-type: none;
}
#menu_principal a{
	display: block;
	text-decoration: none;
	color: black;
}
#menu_principal a:hover{
	text-decoration: underline;
}

.sous_menu{
display: flex;
display: none;
justify-content: space-between;
padding: 5px;
position: absolute;
width: 100%
z-index: 1000;
text-align: left;
left: 10px;
opacity: 1;
background-color: white
}

.sous_menu_div{
	display: flex;
	flex-direction: column;
	margin: 5px;
	text-align: left;
}

.sous_menu_div h2{
	text-align: center;
}

nav > ul li:hover .sous_menu{
	display:block;
	display: flex;
	justify-content: space-between;
}
.categories li
{
	padding-bottom: 5px;
}
.besoin li {
	padding-bottom: 5px;
}

/*Bannière*/

#banniere_description
{
	border-radius: 5px 5px 5px 5px;
	width: 99.5%;
	height: 33px;
	padding-top: 15px;
	padding-left: 5px;
	background-color: black;
	font-size:1em;
	color: white;
	margin-top: 15px;
	height: 150px;
}
#banniere_description h1{
	font-size: 1.4em;
}
#banniere_description mark{
	font-weight: bold;
	color:white;
	text-decoration: none;
	background-color: black;
}

/*Section*/
section ul
{
	list-style-type: none;
}
.conteneur
{
	display: flex;
	margin-right:50px;
}
/*card*/
.element
{
	height: 425px;
	width: 250px;
	padding : 5px 5px 5px 5px;
	text-align: center;
	/*card*/
	padding-top: 15px;
	/*margin-top: 15px;*/
	/*height: 200px;*/
	border-radius: 5px;
	box-shadow: 0px 4px 4px #1c1a19;
	margin-right: 15px;
	transition-property: box-shadow;
	transition-duration: 0.2s;

		

}

.element img
{
	border: 1px solid #181818;
}

.element:hover{
	box-shadow: 2px 6px 6px #1c1a19;
}
.link_photos{
	text-decoration: none;
	color: black;
}
.reduction{
	text-decoration: line-through;
	color: red;
}